<%= link_to "New", new_member_path, :class => "btn btn-primary" %>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Prayer Days</th>
			<th>Actions</th>
		</tr>
	</thead>
	
	<tbody>
		<% @members.each do |m| %>
			<tr>
				<td><%= m.name %></td>
				<td><%= days_string(m) %></td>
				<td>
					<div class="btn-group">
						<%= link_to 'Edit', edit_member_path(m), :class => "btn" %>
						<%= link_to 'Delete', member_path(m), :method => :delete, :class => 'btn btn-danger' %>
					</div>
				</td>

			</tr>
		<% end %>

	</tbody>

</table>