<%= form_for @member do |m| %>
	<fieldset>
		<legend>New Member</legend>

		<div class="control-group">
			<%= m.label :name, :class => "control-group" %>
			<%= m.text_field :name, :class => "form-control" %>
		</div>	

		<div class="control-group">
			<%= m.label :email, :class => "control-group" %>
			<%= m.text_field :email, :class => "form-control" %>
		</div>	

		<div class="control-group">
			<%= m.label :phone, :class => "control-group" %>
			<%= m.text_field :phone, :class => "form-control" %>
		</div>	

		<div>
			<% @days.each do |d| %>
				<%= check_box_tag 'member[days][]', d, day_selected(d, @member) %>
				<%= d %>

			<% end %>
		</div>

	<%= m.submit :class => "btn btn-primary" %>

	</fieldset>


<% end %>